* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
}

.nav-bar {
    height: 7vh;
    padding: 0 8vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--prussian-blue-hex);
    color: var(--alabaster-grey-hex);
}

.nav-bar .logo {
    font-size: 1.8vh;
}

.nav-bar .anchors {
    display: flex;
    align-items: center;
    gap: 8vh;
    cursor: pointer;
    font-size: 1.5vh;
}

.anchors .input {
    height: 3.5vh;
    width: 20vw;
    background-color: var(--alabaster-grey-hex);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .4vh;
    overflow: hidden;
}

.input input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 2vh;
}

.input #search {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    text-align: end;
}

.input #search i {
    color: var(--prussian-blue-hex);
}

.nav-bar .anchors ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    gap: 3vh;
}

.icons {
    font-size: 1.5vh;
    cursor: pointer;
    display: flex;
    gap: 2vh;
}

.icons #account {
    margin-right: 1vh;
}

.icons i {
    font-weight: 100;
    cursor: pointer;
    font-size: 2.2vh;
}

#account a {
    text-decoration: none;
    color: var(--alabaster-grey-hex);
}


.page1 .hero-section {
    height: calc(100vh - 7vh);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 8vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--alabaster-grey-hex);
}

.hero-section .heading {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 10vh;
    padding: 2vh 4vh;
}

.hero-section .heading h2 {
    font-size: 1.6vh;
    font-weight: 500;
    height: max-content;
    /* padding: 2vh; */
    
}

.hero-section .products {
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.3vh;
    row-gap: 5vh;
}

.one {
    height: 30vh;
    width: 30vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    border-radius: .8vh;
}

.img {
    height: auto;
    width: 12vh;
    object-fit: cover;
}

h3 {
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 400;
}

.span {
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: .5vh;
}

p {
    font-size: 1.5vh;
}

.add-btn {
    margin-top: 1.3vh;
    height: 3vh;
    width: 5vw;
    text-align: center;
    font-weight: 300;
    font-size: 1.2vh;
    border-radius: 65px;
    border: 1px solid rgb(53, 53, 53, 0.7);
    background-color: #fff;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #F0F0F0;
}