* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

html,
body {
    height: 100%;
    width: 100%;
}

.product-section {
    height: 100vh;
    width: 100%;
}


.nav-bar {
    height: 7vh;
    padding: 0 8vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--prussian-blue-hex);
    color: var(--alabaster-grey-hex);
}

.nav-bar .logo {
    font-size: 1.8vh;
}

.nav-bar .anchors {
    display: flex;
    align-items: center;
    gap: 8vh;
    cursor: pointer;
    font-size: 1.5vh;
}

.anchors .input {
    height: 3.5vh;
    width: 20vw;
    background-color: var(--alabaster-grey-hex);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .4vh;
    overflow: hidden;
}

.input input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 2vh;
}

.input #search {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    text-align: end;
}

.input #search i {
    color: var(--prussian-blue-hex);
}

.nav-bar .anchors ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    gap: 3vh;
}

.icons {
    font-size: 1.5vh;
    cursor: pointer;
    display: flex;
    gap: 2vh;
}

.icons #account {
    margin-right: 1vh;
}

.icons i {
    font-weight: 100;
    cursor: pointer;
    font-size: 2.2vh;
}

#account a {
    text-decoration: none;
    color: var(--alabaster-grey-hex);
}


/* Product Section */
.product-section {
    height: calc(100vh - 7vh);
    background-color: var(--alabaster-grey-hex);
    position: absolute;
    bottom: 0;
    display: flex;
}

.part1 {
    height: 100%;
    width: 50%;
    padding: 5vh 8vh;
}

.part1 .big-img {
    height: 60vh;
    width: 100%;
    background-color: #fff;
    padding: 5vh 1.5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: .8vh;
}

.part1 #white-headphone {
    height: 45vh;
    width: 35vh;
}

.small-images {
    height: 20vh;
    width: 100%;
    margin-top: 3vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.small-images .image {
    height: 80%;
    width: 15vh;
    background-color: #f2f2f2;
    border-radius: .8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-images .image img {
    height: 80%;
    width: 10vh;
}

.part2 {
    height: 100%;
    padding: 5vh 8vh;
    width: 50%;
}

.part2 .first-content {
    margin-bottom: 3vh;
    padding: 2vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.first-content h2 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.first-content p {
    font-size: 1.4vh;
    margin-bottom: 1vh;
}

.part2 .second-content {
    padding: 2vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    margin-bottom: 4vh;
}

.second-content h2 {
     font-size: 2.5vh;
    margin-bottom: 1vh;
}


.second-content p {
    font-size: 1.4vh;
    margin-bottom: 1vh;
}

.buy-product {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2vh;
}

.buy-product .input-section {
    display: flex;
    gap: 3vh;
}

.input-section .inputs {
    background-color: rgb(179, 179, 179);
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    padding: 1vh;
    cursor: pointer;
}

.input-section .inputs .no {
    margin: 0 1vh 0 1vh;
    font-size: 1.5vh;
}

.input-section p {
    font-size: 1.3vh;
}

.input-section .input-content {
    display: flex;
    align-items: center;
}

.btn-section {
    height: 5vh;
    padding: 0 2vh;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-top: 3vh;
}

.btn-section .inputBtn {
    background-color: var(--prussian-blue-hex);
    padding: 1.5vh;
    text-transform: capitalize;
    border-radius: 5vh;
    width: 8vw;
    color: #f2f2f2;
    font-size: 1.5vh;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn-section .addToCartBtn {
    padding: 1.2vh;
    border: 2px solid var(--prussian-blue-hex);
    text-transform: capitalize;
    border-radius: 5vh;
    width: 8vw;
    color: var(--prussian-blue-hex);
    font-weight: 600;
    font-size: 1.5vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}


.btn-section .addToCartBtn::before {
    content: '';
    background-color: var(--prussian-blue-hex);
    height: 0;
    width: 0;
    position: absolute;
    top: var(--y);
    left: var(--x);
    z-index: -1;    
     border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease;
}

.btn-section .inputBtn:hover {
    background-color: #2d3e61;
}


.btn-section .addToCartBtn:hover::before {
    width: 300%;
    height: 300%;
}

.btn-section .addToCartBtn:hover {
    color: white;
}

.part2 .delivery-section {
    /* background-color: rgb(148, 143, 143); */
    height: max-content;
    margin-top: 3vh;
}

.delivery-section .free {
    padding: 3vh 1.5vh;
    border: 1px solid #6d6d6d57;
    border-radius: .6vh;
    cursor: pointer;
}

.delivery-section .free h2 {
    font-size: 1.5vh;
    line-height: 1.5;
}

.delivery-section .free p {
    font-size: 1.28vh;
    margin-top: .5vh;
    text-decoration: underline;
}

.delivery-section .return {
    margin-top: 1vh;
    border: 1px solid #6d6d6d57;
    border-radius: .6vh;
    cursor: pointer;
    padding: 3vh 1.5vh;
}

.delivery-section .return h2 {
    font-size: 1.5vh;
    line-height: 1.5;
}

.delivery-section .return p {
    font-size: 1.28vh;
    margin-top: .5vh;
    text-transform: capitalize;
    text-decoration: underline;
}