* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

html,
body {
    height: 100%;
    width: 100%;
}

.product-section {
    height: 100vh;
    width: 100%;
}


.nav-bar {
    height: 7vh;
    padding: 0 8vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--prussian-blue-hex);
    color: var(--alabaster-grey-hex);
}

.nav-bar .logo {
    font-size: 1.8vh;
}

.nav-bar .anchors {
    display: flex;
    align-items: center;
    gap: 8vh;
    cursor: pointer;
    font-size: 1.5vh;
}

.anchors .input {
    height: 3.5vh;
    width: 20vw;
    background-color: var(--alabaster-grey-hex);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .4vh;
    overflow: hidden;
}

.input input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 2vh;
}

.input #search {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    text-align: end;
}

.input #search i {
    color: var(--prussian-blue-hex);
}

.nav-bar .anchors ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    gap: 3vh;
}

.icons {
    font-size: 1.5vh;
    cursor: pointer;
    display: flex;
    gap: 2vh;
}

.icons #account {
    margin-right: 1vh;
}

.icons i {
    font-weight: 100;
    cursor: pointer;
    font-size: 2.2vh;
}

#account a {
    text-decoration: none;
    color: var(--alabaster-grey-hex);
}


/* Product Section */
.product-section {
    height: calc(100vh - 7vh);
    background-color: var(--alabaster-grey-hex);
    position: absolute;
    bottom: 0;
    display: flex;
}

.part1 {
    height: 100%;
    width: 50%;
    padding: 5vh 8vh;
}

.part1 .big-img {
    height: 60vh;
    width: 100%;
    background-color: #fff;
    padding: 5vh 1.5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: .8vh;
}

.part1 #white-headphone {
    height: 45vh;
    width: 35vh;
}

.small-images {
    height: 20vh;
    width: 100%;
    margin-top: 3vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.small-images .image {
    height: 80%;
    width: 15vh;
    background-color: #f2f2f2;
    border-radius: .8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-images .image img {
    height: 80%;
    width: 10vh;
}

.part2 {
    height: 100%;
    padding: 5vh 1.5vh;
    width: 50%;
}

.part2 .first-content {
    margin-bottom: 4vh;
    padding: 2vh;
    border-bottom: 1px solid black;
}

.part2 .second-content {
    padding: 2vh;
    border-bottom: 1px solid black;
    margin-bottom: 4vh;
}

.buy-product {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2vh;
}

.buy-product .input-section {
    display: flex;
    gap: 3vh;
}

.input-section p {
    font-size: 1.3vh;
}

.btn-section {
    height: 5vh;
    padding: 0 2vh;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-top: 3vh;
}

.btn-section .inputBtn, .addToCartBtn {
    background-color: royalblue;
    padding: 1.5vh;
    text-transform: capitalize;
    border-radius: 5vh;
    width: 10vw;
    text-align: center;
    cursor: pointer;
}
